{
    "openapi": "3.1.0",
    "info": {
        "title": "gateway-api",
        "description": "Provides everything related to gateway-api in Hausing\n\n**Please note that all paged requests are 0-indexed!**",
        "contact": {
            "name": "Hausing Technologies O\u00dc",
            "url": "https://hausing.co/en",
            "email": "tech@hausing.ee"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://gateway-api.prod.hausing.ee"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/v1/buildings/{buildingId}/meters/{meterId}/readings/{id}": {
            "put": {
                "tags": [
                    "Meter Reading"
                ],
                "summary": "Update meter reading",
                "operationId": "gateway-meter-reading-put",
                "parameters": [
                    {
                        "name": "buildingId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "meterId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MeterReadingUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMeterReadingResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/meter-readings/month/{month}": {
            "post": {
                "tags": [
                    "Meter Reading"
                ],
                "summary": "Insert meter readings for month",
                "description": "Endpoint value month as yyyy-MM",
                "operationId": "gateway-meter-reading-insert-post",
                "parameters": [
                    {
                        "name": "month",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MeterReadingsInsertRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/general-tickets": {
            "get": {
                "tags": [
                    "General tickets"
                ],
                "summary": "Get all general tickets",
                "operationId": "general-tickets-get-all",
                "parameters": [
                    {
                        "name": "request",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/GeneralTicketsRequest"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsePageModelGeneralTicketResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "General tickets"
                ],
                "summary": "Create general ticket",
                "operationId": "general-ticket-post",
                "parameters": [
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GeneralTicketCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseGeneralTicketResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/general-tickets/{ticketId}/chats/{chatId}/messages": {
            "get": {
                "tags": [
                    "General ticket chat messages"
                ],
                "summary": "Get all general ticket chat messages",
                "operationId": "general-ticket-chat-messages-get-all",
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "chatId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseListGeneralTicketChatMessageResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "General ticket chat messages"
                ],
                "summary": "Create general ticket chat message",
                "operationId": "general-ticket-chat-message-post",
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "chatId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GeneralTicketChatMessageRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseGeneralTicketChatMessageResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/general-tickets/{ticketId}/chats/messages": {
            "get": {
                "tags": [
                    "General ticket chat messages"
                ],
                "summary": "Get all general ticket chat messages",
                "operationId": "general-ticket-chat-messages-get-all_1",
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "request",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/GeneralTicketChatMessagesRequest"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseListGeneralTicketChatMessageResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            },
            "post": {
                "tags": [
                    "General ticket chat messages"
                ],
                "summary": "Create general ticket chat message",
                "operationId": "general-ticket-chat-message-post_1",
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TicketChatRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/v1/general-tickets/{generalTicketId}/chats": {
            "get": {
                "tags": [
                    "General tickets"
                ],
                "summary": "Get all general ticket chats",
                "operationId": "general-ticket-chats-get-all",
                "parameters": [
                    {
                        "name": "generalTicketId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "request",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TicketChatFilterRequest"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseListGeneralTicketChatResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "General tickets"
                ],
                "summary": "Create general ticket chat",
                "operationId": "general-ticket-chat-post",
                "parameters": [
                    {
                        "name": "generalTicketId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GeneralTicketChatRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseGeneralTicketChatResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/general-tickets/tenant-satisfactions/{id}/submit": {
            "post": {
                "tags": [
                    "General ticket tenant satisfaction"
                ],
                "summary": "Submit general ticket tenant satisfaction",
                "operationId": "general-ticket-tenant-satisfaction-submit-post",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TenantSatisfactionSubmitRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseTenantSatisfactionResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/general-tickets/ai-categorized": {
            "post": {
                "tags": [
                    "General tickets"
                ],
                "summary": "Create a ticket with AI-powered categorization",
                "description": "Requires activation, contact hausing",
                "operationId": "general-ticket-ai-categorized-post",
                "parameters": [
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GeneralTicketExtendedCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseGeneralTicketResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/files": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get all files",
                "operationId": "files-get-all",
                "parameters": [
                    {
                        "name": "request",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FilesFilterRequest"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsePageModelFileResponseWithUrl"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "Save file",
                "operationId": "file-post",
                "parameters": [
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FileCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseFileResponseWithUrl"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/general-tickets/{id}": {
            "get": {
                "tags": [
                    "General tickets"
                ],
                "summary": "Get one general ticket",
                "operationId": "general-ticket-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseGeneralTicketResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "General tickets"
                ],
                "summary": "Patch one general ticket",
                "operationId": "general-ticket-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GeneralTicketPatchRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseGeneralTicketResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/tenants/{id}/leases": {
            "get": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Get tenant lease history",
                "operationId": "tenant-leases-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "request",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TenantLeasesRequest"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseListTenantLeaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/maintenance-tickets": {
            "get": {
                "tags": [
                    "Maintenance tickets"
                ],
                "summary": "Get all maintenance tickets",
                "operationId": "maintenance-tickets-get-all",
                "parameters": [
                    {
                        "name": "request",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/MaintenanceTicketsRequest"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsePageModelTicketResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/maintenance-tickets/{id}": {
            "get": {
                "tags": [
                    "Maintenance tickets"
                ],
                "summary": "Get one maintenance ticket",
                "operationId": "maintenance-ticket-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseTicketResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/general-tickets/tenant-satisfactions": {
            "get": {
                "tags": [
                    "General ticket tenant satisfaction"
                ],
                "summary": "Get all general ticket tenant satisfactions",
                "operationId": "general-ticket-tenant-satisfactions-get-all",
                "parameters": [
                    {
                        "name": "request",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TenantSatisfactionsRequest"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseListTenantSatisfactionResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/general-tickets/tenant-satisfactions/{id}": {
            "get": {
                "tags": [
                    "General ticket tenant satisfaction"
                ],
                "summary": "Get general ticket tenant satisfaction",
                "operationId": "general-ticket-tenant-satisfaction-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseTenantSatisfactionResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/general-tickets/custom-fields/definitions": {
            "get": {
                "tags": [
                    "General Ticket Custom Fields"
                ],
                "summary": "Get all general ticket custom field definitions",
                "operationId": "custom-field-definitions-get-all",
                "parameters": [
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseListCustomFieldDefinitionResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/general-tickets/custom-fields/definitions/{definitionId}/options": {
            "get": {
                "tags": [
                    "General Ticket Custom Fields"
                ],
                "summary": "Get all options for a general ticket custom field definition",
                "operationId": "custom-field-options-get-all",
                "parameters": [
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer some.valid.token"
                        }
                    },
                    {
                        "name": "X-Hausing-Company",
                        "in": "header",
                        "description": "Company identifier. This is unique for every company and needs to be present in every request. Company ID will be provided to you together with Client ID and Client Secret.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseListCustomFieldOptionResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersistenceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
[...]
